.comments-area {
  width: 100%;
  float: left;
  margin-top: 10px; }

.block-comments {
  display: block;
  width: 100%;
  min-height: 200px;
  text-align: left; }
  .block-comments textarea {
    width: calc(100% - 26px);
    height: 70px;
    margin-left: 10px;
    margin-top: 15px; }
  .block-comments .comment-options {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .block-comments .comment-options input[type='submit'] {
      float: right;
      height: 30px;
      border: 1px solid black;
      margin-right: 10px; }
  .block-comments .not-auth {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px; }
  .block-comments .comment {
    display: block;
    width: calc(100% - 120px);
    min-height: 80px;
    margin-top: 7px;
    color: #3c3c3c;
    padding-left: 120px;
    padding-top: 35px;
    position: relative; }
    .block-comments .comment:before {
      content: "";
      display: block;
      position: absolute;
      left: 5%;
      bottom: 0px;
      width: 90%;
      height: 1px;
      background: rgba(30, 30, 30, 0.4); }
    .block-comments .comment .avatar {
      position: absolute;
      left: 15px;
      top: 15px;
      background: grey;
      width: 80px;
      height: 80px;
      background-size: cover;
      background-position: center;
      border-radius: 50px/50px; }
    .block-comments .comment .username-block {
      position: absolute;
      left: 115px;
      top: 8px; }
    .block-comments .comment .delete-block {
      position: absolute;
      right: 5px;
      top: 7px;
      background-image: url(../image/delete.svg);
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer; }
    .block-comments .comment .edit-block {
      position: absolute;
      right: 30px;
      top: 7px;
      background-image: url(../image/edit.svg);
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer; }
    .block-comments .comment .not-edit-block {
      position: absolute;
      right: 30px;
      top: 7px;
      background-image: url(../image/no-edit.svg);
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer; }

.choise-comment-order {
  display: block;
  width: 100%;
  height: 42px;
  background: #323232;
  border-bottom: 3px darkred solid; }
  .choise-comment-order .item-choise {
    display: block;
    height: 100%;
    width: 120px;
    float: left;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: white;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s; }
    .choise-comment-order .item-choise:hover {
      background: darkred; }

.new .new-item {
  background: darkred; }

.popular .popular-item {
  background: darkred; }

.karma-area {
  position: absolute;
  right: 50px;
  top: 5px;
  height: 25px;
  width: 110px; }
  .karma-area .count {
    float: left;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px; }
  .karma-area .like {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 2px;
    background-image: url(../image/like.svg);
    background-size: cover;
    cursor: pointer;
    position: relative; }
  .karma-area .dislike {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
    background-image: url(../image/dislike.svg);
    background-size: cover;
    cursor: pointer;
    position: relative; }

.karma_like .like:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../image/like-active.svg);
  background-size: cover; }

.karma_dislike .dislike:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../image/dislike-active.svg);
  background-size: cover; }
