body {
  background: #e2e2e2;
  font-family: "Roboto Condensed", sans-serif; }
  body::-webkit-scrollbar {
    width: 5px;
    height: 3px; }
  body::-webkit-scrollbar-button {
    display: none; }
  body::-webkit-scrollbar-track {
    background-color: #999; }
  body::-webkit-scrollbar-track-piece {
    background-color: white; }
  body::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 3px; }

.block-search {
  width: 988px;
  background: white;
  height: 43px !important;
  border: 1px solid grey; }
  .block-search form {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
    .block-search form input {
      width: calc(100% - 17px);
      height: 100%;
      border: none;
      line-height: 45px;
      font-size: 15px;
      color: black;
      padding-left: 17px;
      font-style: italic;
      background: none; }
    .block-search form input[type="submit"] {
      width: 45px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      cursor: pointer;
      background-image: url(../image/search.svg);
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center; }

.content-block {
  width: 100%;
  margin-top: 10px;
  text-align: center; }

.area-content {
  width: 990px;
  margin-left: calc(50% - 650px);
  min-height: 10px;
  float: left;
  margin-top: 10px; }

.pereferia-block {
  display: block;
  width: 300px;
  min-height: 10px;
  margin-left: 10px;
  float: left;
  margin-top: 10px; }

.box-shadow {
  width: 100%;
  background: #fafafa;
  height: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2); }

.hidden {
  visibility: hidden; }

.o-hidden {
  overflow: hidden;
  z-index: 100 !important; }
  .o-hidden:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0; }

#auth .close-auth {
  position: absolute;
  top: 7px;
  right: 5px;
  width: 24px;
  height: 24px;
  background-image: url(../image/delete.svg);
  background-size: cover; }
#auth .errors {
  width: calc(100% - 30px);
  height: auto;
  color: darkred;
  text-align: center;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px; }
#auth .area-auth {
  position: absolute;
  right: -1px;
  bottom: -400px;
  width: 345px;
  height: 400px;
  overflow: hidden;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  z-index: 10000;
  background: white; }
  #auth .area-auth .block-avatar {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 300px; }
    #auth .area-auth .block-avatar .avatar {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    #auth .area-auth .block-avatar .change-avatar {
      position: absolute;
      left: 10%;
      bottom: 10px;
      width: 80%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px black solid;
      color: black;
      font-size: 15px; }
#auth .bottom-area-form {
  position: absolute;
  right: -1px;
  bottom: -400px;
  width: 345px;
  height: 400px;
  overflow: hidden;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  z-index: 10000;
  background: #e2e2e2; }
  #auth .bottom-area-form .change-form {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 200; }
    #auth .bottom-area-form .change-form::after {
      content: "";
      display: block;
      width: 24%;
      background: black;
      height: 2px;
      position: absolute;
      left: 33%;
      bottom: 3px;
      -webkit-transition-duration: 0.7s;
              transition-duration: 0.7s; }
    #auth .bottom-area-form .change-form .item-log, #auth .bottom-area-form .change-form .item-reg {
      display: block;
      width: 30%;
      height: 100%;
      background: white;
      float: left;
      text-align: center;
      line-height: 40px; }
    #auth .bottom-area-form .change-form .item-reg {
      color: black;
      -webkit-transition-duration: 0.7s;
              transition-duration: 0.7s; }
    #auth .bottom-area-form .change-form .item-log {
      color: rgba(0, 0, 0, 0.4);
      -webkit-transition-duration: 0.7s;
              transition-duration: 0.7s; }
  #auth .bottom-area-form .form-reg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: white;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    z-index: 1000; }
  #auth .bottom-area-form .form-log {
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: white;
    z-index: 1000;
    -webkit-transition-duration: 1s;
            transition-duration: 1s; }
  #auth .bottom-area-form .item-form-name {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black; }
  #auth .bottom-area-form input {
    width: 76%;
    height: 20px;
    margin-left: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px #646464 solid; }
    #auth .bottom-area-form input:last-child {
      width: 81%;
      margin-top: 20px;
      height: 30px;
      line-height: 20px;
      border-color: black; }
#auth .login .item-log {
  color: black !important; }
#auth .login .item-reg {
  color: rgba(0, 0, 0, 0.4) !important; }
#auth .login .form-reg {
  left: 100%; }
#auth .login .form-log {
  left: 0; }
#auth .login .change-form::after {
  left: 3%; }

.block-inf {
  width: 100%;
  height: 50px;
  background: #0a0a0a; }

.href-page {
  width: 100px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  background: grey;
  cursor: pointer; }

.karma_like .reiting-line-area:before {
  content: "";
  background-image: url(../image/like-active.svg); }

.karma_dislike .reiting-line-area:after {
  background-image: url(../image/dislike-active.svg); }

.reiting-line-area {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 60px; }
  .reiting-line-area:before {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    left: 3px;
    top: 5px;
    background-image: url(../image/like.svg);
    background-size: cover;
    background-position: center; }
  .reiting-line-area:after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    right: 3px;
    top: 5px;
    background-image: url(../image/dislike.svg);
    background-size: cover;
    background-position: center; }
  .reiting-line-area .dislike-line {
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    background: darkred; }
  .reiting-line-area .area-click-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 100; }
  .reiting-line-area .area-click-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 100; }
  .reiting-line-area .count-likes {
    position: absolute;
    left: 24px;
    top: 5px;
    font-size: 13px;
    width: 30px;
    line-height: 20px;
    height: 20px;
    text-align: center; }
  .reiting-line-area .count-dislikes {
    position: absolute;
    right: 24px;
    top: 5px;
    font-size: 13px;
    width: 30px;
    line-height: 20px;
    height: 20px;
    text-align: center; }
  .reiting-line-area .line {
    width: calc(100% - 110px);
    height: 4px;
    position: absolute;
    left: 55px;
    top: calc(50% - 2px);
    background: darkgreen; }

.block-film {
  display: block;
  width: 225px;
  height: 410px;
  cursor: pointer;
  margin: 8px;
  color: #1e1e1e;
  text-align: center;
  position: relative;
  border: 1px solid grey;
  display: inline-block; }
  .block-film .block-avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 320px;
    background-size: cover; }
  .block-film .block-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden; }
  .block-film .best-block {
    position: absolute;
    height: 20px;
    width: 25%;
    bottom: 40px;
    right: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 20px; }
    .block-film .best-block:before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 15px;
      height: 15px;
      background-image: url(../image/star-active.svg);
      background-size: cover;
      background-position: center; }
  .block-film .most-watch-block {
    position: absolute;
    height: 20px;
    width: 25%;
    bottom: 40px;
    right: calc(25% + 3px);
    text-align: center;
    font-size: 13px;
    line-height: 20px; }
    .block-film .most-watch-block:before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 15px;
      height: 15px;
      background-image: url(../image/most-watch.svg);
      background-size: cover;
      background-position: center; }
  .block-film .views-block {
    position: absolute;
    height: 20px;
    width: 50%;
    bottom: 40px;
    left: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 20px; }
    .block-film .views-block:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 100%;
      background-image: url(../image/views.svg);
      background-size: cover;
      background-position: center; }

.button-old-comment {
  line-height: 20px;
  height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 230px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }

.conteiner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 191px;
  min-height: 850px;
  position: relative; }
  .conteiner-body .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 171px;
    background: #333;
    text-align: center;
    line-height: 171px;
    color: white; }

.chat {
  width: calc(100% - 42px);
  height: 200px;
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
  margin-top: 10px; }
