<div class="box-shadow" style="display: inline-block">
    <div class="name-block">
        Топ 100
        <div class="left1" onclick="react_router.toPage('top-100')">Сериалы</div>
        <div class="left2" onclick="react_router.toPage('top-100-films')">Фильмы</div>
    </div>

    {% for item in films %}
        <div class="block-film" onclick="react_router.toPage('film/'+{{ item.id }})">
            <div class="block-avatar" style="background-image: url({{ item.avatar.url }})"></div>
            <div class="block-name">{{ item.name }}</div>
            <div class="views-block">{{ item.goodViews }}</div>
            <div class="best-block">{{ item.count_best }}</div>
            <div class="most-watch-block">{{ item.count_watch }}</div>
            <div class="reiting-line-area">
                <div class="count-likes">{{ item.count_likes }}</div>
                <div class="line"><div class="dislike-line" style="width:{{ item.width_dislike_line }}%"></div></div>
                <div class="count-dislikes">{{ item.count_dislikes }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<!--  <iframe class="main-player" width="100%" height="360" frameborder="0" scrolling="no" allowfullscreen="" src="https://video.sibnet.ru/shell.php?videoid=1253659"></iframe>  -->
